.blck-inner-mc-listing {

  .alignfull & {
    @extend .container;
  }
  .mc-grid {
    display: flex;
    justify-content: var(--justify);
    flex-wrap: wrap;
    // text-align: center;
    margin-left: -20px;
    margin-right: -20px;
    &-item {
      // text-align: left;
      margin: 0 8px 50px;
      width: calc(100% / var(--mobile) - (8px * 2));
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @media (min-width: 660px) {
        width: calc(100% / var(--tablet) - (20px * 2)) !important;
        margin: 0 20px 50px;
      }
      @media (min-width: 990px) {
        width: calc(100% / var(--desktop) - (20px * 2)) !important;
        margin: 0 20px 50px;
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        flex: 1;
      }
      // figure {
      // }
      .name a {
        font-size: 25px;
        // line-height: 160%;
        letter-spacing: -0.18px;
        font-weight: $font-weight-medium;
        color: $black;
        @media(max-width: 767px) {
          font-size: 15px;
          line-height: 128%;
        }
        &:hover {
          color: $primary1;
        }
      }
      @media(max-width: 767px) {
        .text {
          font-size: 12px;
          line-height: 128%;
        }
        .btn-link:after {
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          width: 13px;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }

  &.card-style {
    .mc-grid {
      &-item {
        background-color: $white;
        box-shadow: 0px 2px 30px -4px rgba(33, 33, 33, 0.08),
          0px 0px 20px -4px rgba(33, 33, 33, 0.08);
        padding: 26px;
        transition: box-shadow .3s ease-in-out;

        &:hover {
          box-shadow: 1px 1px 40px -4px rgba(33, 33, 33, 0.1),
          1px 1px 30px -4px rgba(33, 33, 33, 0.1);
        }

        // img {
        //   width: auto;
        //   max-height: 48px;
        //   margin-bottom: 10px;
        // }
      }
    }
  }

  @media(max-width: 767px) {
    .wp-block-columns.has-background & {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
