.add-calendar-item-block {
  max-width: 452px;
  margin-top: 40px;
  .txt {
    font-size: 21px;
    letter-spacing: -0.18px;
  }
  .txt,
  .link {
    padding-left: 24px;
  }
  hr {
    margin: 1em 0;
  }
  .btn-link {
    font-weight: 600!important;
  }
}

.calendar-articles-list {
  .articles-list {
    margin-top: 36px;
    background-color: $white;
    margin-bottom: 32px;
    padding: 20px;
    @media (min-width: 992px) {
      padding: 48px 50px 5px;
    }
    .list-item {
      .excerpt {
        p:last-child {
          margin: 0;
        }
      }
    }
    .list-container {
      padding:{
        top: 36px;
        bottom: 20px;
      }
    }
  }
  .search-area {
    margin-bottom: 19px;
    .advanced_search {
      display: none;
    }
  }
}

.event-list-item {
  footer .btn {
    margin-top: 8px;
    margin-bottom: 36px;
    display: block;
  }
}

@media (min-width: 768px) {
  div.calendar div.row div.cell {
    height: 140px;
    overflow: auto;
    div.plus-x-events {
      margin-top: 4px;
    }
    div.event-no-hover:last-child, 
    div.event:last-child {
      margin-bottom: 10px;
    }
  }
}