.empty-cell {
  font-size: 0;
}
.tables-wrapper {
  position: relative;
  &:after {
    content: "";
    width: 4000px;
    height: 4000px;
    background: linear-gradient(180deg, #eeeeee 0%, #fafafa 100%);
    position: absolute;
    left: 50%;
    bottom: -3460px;
    transform: translate(-50%, 0%);
    border-radius: 100%;
    z-index: -1;
  }
}

.wpdt-c.wdt-skin-light .wpDataTablesWrapper table.wpDataTable {
  td {
    padding: 28px 20px !important;
    @media (max-width: 767px) {
      padding: 10px !important;
    }
  }
  > thead > tr > th {
    padding: 28px 20px !important;
    background: transparent !important;
    border: 1px solid #9e9e9e !important;
    font-weight: $font-weight-normal !important;
    @media (max-width: 767px) {
      padding: 10px !important;
    }

    &.column-classified_list_meta_posting_dates {
      width: 22%;
    }
  }
}

.wpdt-c {
  button {
    border: 0;
    background: none;
  }
}
h2.wpdt-c {
  color: $text_black;
}

button.wdt-clear-filters-button:before,
button.wdt-clear-filters-widget-button:before {
  margin-right: 5px;
}

span.filter_column.wdt-filter-number-range {
  display: flex;
}

.wpDataTableFilterBox {
  display: flex;
}
#table_1_2_filter_sections {
  margin-left: auto;
}

.entry-content {
  .wpdt-c label,
  .wpdt-c.wdt-skin-light
    .wpDataTablesWrappertable.wpDataTable
    > thead
    > tr
    > th {
    font-weight: $font-weight-normal !important;
  }
  .wpdt-c.wdt-skin-light .wpDataTablesWrapper table.wpDataTable {
    &.wpDataTableID-45,
    &.wpDataTableID-28 {
      > thead > tr > th {
        border: 0 !important;
        font-size: 0 !important;
        padding: 0 !important;
      }
    }
  }
  > thead > tr > th {
    border: 1px solid #9e9e9e !important;
  }

  @media (min-width: 992px) {
    .wpdt-c.wdt-skin-light .wpDataTablesWrapper .dataTables_paginate {
      padding: 2em 0;
      .paginate_button {
        font-size: inherit !important;
        text-indent: 0 !important;
        font-family: "Roboto" !important;

        &:hover {
          text-decoration: underline !important;
          background: none !important;
        }
        &.disabled {
          pointer-events: none;
        }
        &.current,
        &.current:hover {
          background: none;
          font-weight: 700;
        }
        &.current {
          text-decoration: underline !important;
        }
        &.current:hover {
          text-decoration: none !important;
          background: none;
        }
        &.previous,
        &.next {
          @include tertiary-btn;
          margin: 0 12px;
          &:before {
            display: none;
          }
          &:hover {
            background: $tertiary1 !important;
            text-decoration: none !important;
          }
        }
        &.last {
          &:before {
            display: none;
          }
          &:after {
            display: inline-block;
            font-family: wpDataTablesIcons !important;
            font-style: normal;
            color: inherit;
            font-weight: 400;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            -webkit-font-smoothing: antialiased;

            content: "\e003";
            padding: 0.9em 0.95em 0.601em 0.95em;
          }
        }
      }
    }
  }

  .wpdt-c.wpDataTablesWrapper table.wpdtSimpleTable tr.even td,
  .wpdt-c .wpDataTablesWrapper table.wpDataTable tr.even td,
  .wpdt-c .wpDataTablesWrapper table.has-columns-hidden tr.row-detail > td {
    background-color: #fdfdfd !important;
  }
}

.wpdt-c[id*="wdt-table-title"] {
  border-radius: 0;
  padding: 13px 14px;
  background-color: $snow_blue;
}

.wpdt-c.wdt-skin-light .wpDataTablesWrapper {
  &.wpDataTableID-11,
  &.wpDataTableID-45 {
    table.wpDataTable > thead > tr > th {
      border: 0 !important;
      font-size: 0;
      padding: 0!important;
      &:after {
       display: none; 
      }
    }
  }
}

.entry-content .wpDataTablesWrapper.wpDataTables[data-wpdatatable_id="11"] {
  .wpDataTableFilterBox {
    @media (min-width: 768px) {
      position: absolute;
      top: 16px;
      left: 290px;
      z-index: 1;
    }
    #table_1_3_filter_sections {
      @media (min-width: 900px) {
        width: 273px;
        flex: auto;
      }
      @media (max-width: 767px) {
        flex: 3!important;
        margin-bottom: 0 !important;
      }
      input {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 12px!important;
      }
    }
  }
}
 

.entry-content {
  #wpDataTableID-11,
  .wpDataTableID-11 {
    .dt-buttons {
      @media (min-width: 768px) {
        margin-top: 35px;
      }
      @media (max-width: 767px) {
        position: absolute;
        top: -140px;
        right: 0;
        z-index: 1;
      }
      + .clear {
        display: none;
      }
    }

    @media (max-width: 767px) {
      font-size: 14px;
      .btn-tertiary {
        padding: 8px 16px;
      }
    }

    .dataTables_filter {
      float: left !important;
      position: relative;
      text-align: left !important;
      @media (max-width: 767px) {
        width: 100% !important;
        label {
          width: 100% !important;
        }
      }

      #reset {
        right: 44px;
      }

      input {
        display: block !important;
        padding-right: 72px !important;
        width: 273px !important;
        @media (max-width: 767px) {
          width: 100% !important;
        }
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 12px;
        right: 1em;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.9999 20.9999L16.6499 16.6499' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }
    tfoot {
      display: none;
    }
  }

  .wpDataTableFilterBox .wpDataTableFilterSection div:first-child {
    margin-top: 0;
  }
  .wpdt-c.wdt-skin-light
    .wpDataTablesFilter
    .wpDataTableFilterSection
    input.form-control,
  #wdt-filter-widget
    .wdt-skin-light
    .wpDataTableFilterSection
    input.form-control,
  .wpdt-c .bootstrap-select > .btn-default,
  .wpdt-c .form-control,
  .wpDataTables .wdt-checkbox-filter.btn,
  .wpDataTables input[type="text"],
  .wpDataTables select,
  .wpdt-c .wpDataTablesWrapper .filter_column button {
    font-size: 16px !important;
    border: 1.5px solid #e0e0e0 !important;
    height: 48px !important;
    padding-left: 14px !important;
    padding-right: 30px !important;

    .filter-option {
      margin-bottom: 0 !important;
    }
    .filter-option,
    &::placeholder {
      font-size: 16px !important;
      font-style: italic;
      color: #9e9e9e;
    }
    &:before {
      background-position: center calc(100% - 15px);
    }
  }
  .wpDataTableFilterBox {
    flex-wrap: wrap;
  }

  .wpDataTablesWrapper {
    &.wpDataTables[data-wpdatatable_id="8"] {
      margin-top: 90px;
      .wpDataTableFilterBox {
        position: absolute;
        top: 1em;
        left: 0;
        #table_1_0_filter_sections {
          min-width: 230px;
        }
      }
    }

    table.wpDataTable {
      &.wpDataTableID-8 {
        @media (max-width: 767px) {
          margin-top: 90px;

          .btn-tertiary {
            padding: 10px !important;
            white-space: nowrap;
          }
          .column-classified_list_post_title {
            width: 100%;
          }
          .column-classified_list_meta_pdf {
            width: 50%;
          }
        }
        td {
          padding-top: 17px !important;
          padding-bottom: 17px !important;
        }
        .dataTables_filter {
          margin-bottom: 60px;
        }
        > thead > tr > th {
          border: 0 !important;
        }
      }
    }
    @media (max-width: 767px) {
      &[data-wpdatatable_id="8"] {
        .wpDataTableFilterSection {
          &#wdt-clear-filters-button-block {
            padding-top: 90px !important;
          }
        }
      }
      &.wpDataTableID-8 .dataTables_filter {
        label {
          font-size: 13px;
          width: 100% !important;
          input {
            display: block;
            width: 100%;
            margin-top: 4px;
          }
        }
      }
    }

    .wpDataTableFilterSection {
      padding: 0;
      flex: 1; -ms-flex: 1 0 auto;
      min-height: unset !important;
      margin-bottom: 16px !important;
      label {
        font-size: 13px;
      }

      &#wdt-clear-filters-button-block {
        padding-top: 40px !important;
        z-index: 100;
      }
    }
  }
}

h2.wpdt-c {
  color: $text_black;
  font-size: 25px !important;
  font-weight: $font-weight-medium;
  line-height: 38px;
  letter-spacing: -0.47px;
}

#wpdtSimpleTable-12 {
  img {
    max-height: 64px;
    width: auto;
  }
  td {
    padding: 45px !important;
    padding-top: 87px !important;
    @media (max-width: 767px) {
      padding: 20px !important;
    }
  }
  .wpdt-cell-row {
    &:last-child {
      td {
        padding-bottom: 87px !important;
        padding-top: 0 !important;
        @media (max-width: 767px) {
          padding: 20px !important;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .column-see-details {
    .btn-tertiary {
      padding: 10px;
    }
  }
  .wpDataTablesWrapper div.dt-buttons {
    overflow: hidden;
    float: right !important;
  }

  .wpDataTablesWrapper table.wpDataTable.responsive td {
    &:first-child {
      padding-left: 34px !important;
      position: relative;
      .responsiveExpander {
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        margin: 0 !important;
      }
    }
  }
  .wpdt-c
    .wpDataTablesWrapper
    table.has-columns-hidden
    > tbody
    > tr.row-detail
    > td
    > ul {
    > li {
      margin-left: 0;
      margin-bottom: 0;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 20px;
      }
    }
  }

  .wpDataTablesFilter {
    margin-bottom: 0;
  }

  .wpdt-c.wdt-skin-light
    .wpDataTablesWrapper
    .dataTables_paginate
    .paginate_button {
    padding: 0.7em !important;
  }
}

.wpDataTableID-24,
.wpdtSimpleTable {
  border: 0 !important;
  thead {
    display: none;
  }
  tr td {
    .h3,
    h3 {
      margin: 14px 0;
    }
    &:last-child {
      width: 70%;
    }
  }
}

.dataTables_filter {
  position: relative;
  #reset {
    position: absolute;
    right: 10px;
    bottom: 5px;
    padding: 8px;
    cursor: pointer;
  }
}

.wpdt-c .wpDataTablesWrapper {
  &.wpDataTableID-45
  // ,
  // &.wpDataTableID-28
  {
    .group {
      font-weight: $font-weight-medium;
      font-size: 21px;
      background-color: $snow_blue !important;
    }
    .dataTables_filter {
      float: left;
      text-align: left;
      margin-bottom: 30px !important;

      .form-control {
        background-color: $gray1;
        display: block !important;
        min-width: 280px;
        padding-right: 30px !important;
      }
      label {
        position: relative;
      }
    }
    .dataTables_length {
      float: right;
      margin-top: 25px;
      .bootstrap-select.length_menu {
        height: 48px;
        > .btn-default {
          background-color: $gray1 !important;
        }
      }
      span.filter-option {
        margin-left: 0;
      }
    }
    // .dt-buttons {
    //   display: none;
    // }
  }
}

.wpdt-c .wpDataTablesWrapper table.wpDataTable tr {
  &.even,
  &.odd {
    &.row-header {
      @extend .h3;
      color: $primary1;
      td {
        background-color: $gray1 !important;
      }
      .column-name {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
}

.wp-block-table {
  padding-bottom: 2em;
  @media (max-width: 767px) {
    tr {
      font-size: 15px;
      line-height: 1.2;
    }
  }

  &.is-style-table_slender {
    border: 0;
    table {
      border-collapse: collapse;
      border: 0;
    }
    tbody tr:nth-child(odd) {
      background-color: #fdfdfd;
    }
    td,
    th {
      padding: 6px 24px;
      @media (max-width: 767px) {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }
  &.is-style-table_slender_light {
    border: 0;
    table {
      border-collapse: collapse;
      border: 0;
    }
    thead {
      th {
        border: none;
        font-size: 16px;
        line-height: 31px;
        background-color: #eef4f9;
        color: $copy;
      }
    }
    tbody tr:nth-child(odd) {
      background-color: #fdfdfd;
    }
    td,
    th {
      padding: 12px 24px;
    }
  }

  &.is-style-table_pdf {
    table {
      border-collapse: collapse;
    }
    th,
    td {
      padding: 20px;
      text-align: left;
      border: none;
      color: $copy;
    }
    thead {
      font-size: 25px;
      line-height: 38px;
      border: none;
      th {
        background-color: #eef4f9;
      }
    }
    tr {
      td {
        // width: 50%;
        padding: 20px;
        font-size: 16px;
        line-height: 160%;
        border: none;
        // &:first-child {
        //   width: 100%;
        // }
        a {
          @extend .btn-tertiary;
          text-transform: capitalize;
          white-space: nowrap;
          padding: 10px 50px 10px 16px !important;
          position: relative;
          &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 15V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V15' stroke='%23005395' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 10L12 15L17 10' stroke='%23005395' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 15V3' stroke='%23005395' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            position: absolute;
            right: 10px;
            width: 24px;
            height: 24px;
          }
        }
      }
      &:nth-child(odd) {
        background-color: #fdfdfd;
      }
    }
  }

  &.is-style-stripes {
    border: 0;
    table {
      border-collapse: collapse;
      border: 0;
    }
    tbody tr:nth-child(odd) {
      background-color: #fdfdfd;
    }
  }
  th {
    font-size: 25px;
    line-height: 38px;
    letter-spacing: -0.47px;
    color: #ffffff;
    background-color: $primary1;
    font-weight: $font-weight-normal;
    @media (max-width: 767px) {
      font-size: 19px;
      line-height: 1.2;
    }
  }
  &:not(.is-style-table_slender):not(.is-style-table_slender_light) {
    th,
    td {
      padding: 14px 24px;
      min-height: 72px;
      @media (max-width: 767px) {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
    td:last-child {
      display: flex;
      // justify-content: flex-end;
      align-items: center;
      &.has-text-align-right {
        justify-content: flex-end;
      }
      &:after {
        width: 0px;
        content: "";
        float: left;
        overflow: hidden;
        height: 44px;
        font-size: 0;
      }
      a {
        @extend .btn-tertiary;
        text-transform: capitalize;
        white-space: nowrap;
        padding: 10px 50px 10px 16px !important;
        position: relative;
        font-weight: $font-weight-normal;
        min-width: 116px;
        text-align: center;
        &:after {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M5 12H19' stroke='%23005395' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 5L19 12L12 19' stroke='%23005395' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          position: absolute;
          right: 10px;
          width: 24px;
          height: 24px;
        }
        &[href*="pdf"],
        &[href*="doc"] {
          &:after {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 15V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V15' stroke='%23005395' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 10L12 15L17 10' stroke='%23005395' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 15V3' stroke='%23005395' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }
}

.wpDataTables {
  &[data-wpdatatable_id="34"] {
    margin-bottom: 0 !important;
    .wpDataTableFilterSection {
      width: 273px !important;
      padding: 0 !important;
      min-height: unset !important;
      .filter_column button {
        border: 1.5px solid #e0e0e0 !important;
        height: 48px !important;
        padding-left: 12px;
        padding-right: 12px;
        &::before {
          background-position: right calc(100% - 14px);
        }
      }
    }
  }
}

.wpdt-c.wdt-skin-light .wpDataTablesWrapper table.wpDataTable tr.h-10 td {
  padding-top: 0 !important;
}

.wpdt-c.wdt-skin-light
  .wpDataTablesWrapper
  table.wpDataTable
  thead
  th.sorting:after,
.wpdt-c.wdt-skin-light
  .wpDataTablesWrapper
  table.wpDataTable
  thead
  th.sorting_asc:after {
  border-bottom-width: 0;
}
.wpdt-c.wdt-skin-light
  .wpDataTablesWrapper
  table.wpDataTable
  thead
  th.sorting_desc:after {
  border-top-width: 0;
}


@media print {
  table tr {
    td, th {
      padding: 10pt;
    }
  }
}