.blck-hero-style1 {
  display: flex;
  justify-content: center;
  @include section-bg-styles();
  &.valign-center {
    align-items: center;
  }
  &.valign-flex-end {
    align-items: flex-end;
  }
  &.valign-flex-start {
    align-items: flex-start;
  }
}