.btn-primary {
  @include primary-btn;
}
.btn-secondary {
  @include secondary-btn;
}
.btn-tertiary {
  @include tertiary-btn;
}

.btn-primary,
.btn-secondary,
.btn-tertiary {
  &.is-style-small {
    padding: 16px 24px !important;
    @include rem(font-size, 16px);
  }

  &.is-style-xsmall {
    padding: 10px 48px 11px 16px !important;
    @include rem(font-size, 12px);
  }

  &.is-style-large {
    padding: 0 !important;
    @include rem(font-size, 20px);
  }
}

.btn-link {
  @include link-btn();
  &.btn-dark {
    color: #333!important;
    font-weight: $font-weight-medium;
    &:after {
      bottom: 0;
      vertical-align: middle;
      width: 24px;
      height: 25px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M5 12.0068H19' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 5.00684L19 12.0068L12 19.0068' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}

.btn-back {
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;

  @media (max-width: 767px) {
  .single & {
      margin-top: 2em;
      display: block;       
    }
  }
  @media (min-width: 768px) {
    color: $white;
  }
  &:hover {
    @media (min-width: 768px) {
      color: $white;
    }
    opacity: .8;
    svg {
      transform: translateX(-5px);
    }
  }
  svg {
    display: inline-block;
    vertical-align: -6px;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;

    @media (max-width: 767px) {
      path {
        stroke: $black;
      }
    }
  }
  &.btn-dark {
    color: #333!important;
    font-weight: $font-weight-medium;
    svg {
      display: inline-block;
      vertical-align: -6px;
      margin-right: 5px;
      transition: transform 0.3s ease-in-out;
  
        path {
          stroke: $black;
        }
    }
  }
}

.btn-disabled {
  pointer-events: none;
  background-color: $gray2!important;
  border-color: $gray2!important;
  color: $gray5!important;
  font-weight: $font-weight-medium!important;
}