$colors: (
  "black": $black,
  "pitch-black": $pitch_black,
  "text-black": $text_black,
  "primary-1": $primary1,
  "primary-2": $primary2,
  "secondary-1": $secondary1,
  "secondary-2": $secondary2,
  "tertiary-1": $tertiary1,
  "tertiary-2": $tertiary2,
  "gray-1": $gray1,
  "gray-2": $gray2,
  "white": $white,
  "snow-white": $snow_white,
);
$sizes: (
  "small" $smallFontSize $smallFontSizeMobile $lineHeight $lineHeightMobile,
  "regular" $mainFontSize $mainFontSizeMobile $lineHeight $lineHeightMobile,
  "large" $largeFontSize $largeFontSizeMobile 1.58 1.61,
  "xlarge" $xlargeFontSize $xlargeFontSizeMobile 1.58 1.61,
  "hlarge" $hlargeFontSize $hlargeFontSizeMobile 1.58 1.61
);
$weights: (
  "bold": 700,
  "medium": 500,
  "light": 300,
);
$paddings: (
  "oneandahalf": calc(#{$sectionTBPadding} * 1.5),
  "default": #{$sectionTBPadding},
  "half": #{$sectionTBPadding * 0.5},
  "none": 0,
);

.has-primary-2-background-color,
.has-primary-1-background-color,
.has-secondary-2-background-color,
.has-secondary-1-background-color {
  .wp-block-button__link,
  .btn-primary,
  .btn-secondary,
  .btn-tertiary {
    box-shadow: none !important;
  }
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

.wp-block-buttons {
  margin-bottom: -0.5em;
}

.wp-block-button {
  &:not(.is-style-btn-link-btn-arrow) {
    @media (max-width: 600px) {
      width: 100%;
      margin-right: 0 !important;
    }
  }

  .wp-block-button__link {
    @media (max-width: 600px) {
      display: block !important;
      text-align: center;
    }
    display: inline-block;
    @include rem(font-size, 20px);
    font-weight: bold;
    padding: 18px 48px;
    text-decoration: none;
    border-radius: 0;
    transition: all 0.25s ease-out;
  }

  &:not([class*="-outline"]):not([class*="-tertiary"]) {
    .wp-block-button__link {
      @include primary-btn;
    }
  }

  &[class*="-outline"]:not([class*="-tertiary"]) {
    .wp-block-button__link {
      @include secondary-btn;
    }
  }

  &[class*="-tertiary"] {
    .wp-block-button__link {
      @include tertiary-btn;
    }
  }

  &[class*="-tertiary"] {
    .wp-block-button__link {
      @include tertiary-btn;
    }
  }

  &.is-style-btn-link-btn-arrow {
    .wp-block-button__link {
      @include link-btn;
    }
  }

  .wp-block-button__link {
    @each $name, $color in $colors {
      &.has-#{$name}-color {
        color: $color;
      }

      &.has-#{$name}-background-color {
        background-color: $color;
      }
    }
  }

  &[class*="is-style-small"] {
    .wp-block-button__link {
      padding: 16px 24px !important;
      @include rem(font-size, 16px !important);
    }
  }

  &[class*="is-style-xsmall"] {
    .wp-block-button__link {
      padding: 12px 20px !important;
      @include rem(font-size, 12px !important);
    }
  }

  &[class*="is-style-large"] {
    .wp-block-button__link {
      padding: 0 !important;
      @include rem(font-size, 20px !important);
    }
  }
}

.btn-link {
  @include link-btn();
}

.wp-block-group {
  &__inner-container {
    @include container();
  }
}

.wp-block-separator {
  border-top-width: 0;
  border-bottom-color: $defaultSeparatorColor;
  margin: 0;
}

.wp-block-embed-twitter {
  overflow: auto;
  iframe {
    max-height: 400px !important;
    height: 450px !important;
  }
}

.wp-block-image {
  margin: 0;
  &.alignwide {
    @media (min-width: 1104px) {
      margin-left: -128px;
      margin-right: -128px;
    }
    figcaption {
      text-align: center;
    }
  }
  figcaption {
    @include rem(font-size, $figureFontSize);
    line-height: $figureLineHeight;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.wp-block-media-text {
  margin: 0;
  overflow: hidden;
  position: relative;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: flex;
  }
  &.alignfull {
    // box-shadow: 0px 2px 30px -4px rgba(33, 33, 33, 0.08),
    //   0px 0px 20px -4px rgba(33, 33, 33, 0.08);
    .wp-block-media-text__content {
      &:before {
        height: 1300px;
        width: 1300px;
        top: 50%;
        right: -54px;

        @media (max-width: 601px) and (min-width: 400px) {
          top: -25vw;
        }
        @media (max-width: 600px) {
          height: 900px;
          width: 900px;
          top: -19vw;
          right: 50% !important;
          transform: translateX(-50%);
        }
      }
    }

    &.has-media-on-the-right {
      .wp-block-media-text__content {
        &:before {
          @media (max-width: 600px) {
            transform: translateX(50%);
          }
        }
      }
    }
  }

  &.has-media-on-the-right {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .wp-block-media-text__media {
        order: 2;
      }
    }
    &.is-style-image-600-circle,
    &.is-style-image-488-circle,
    &.is-style-image-hight-circle {
      .wp-block-media-text__content {
        &:before {
          left: auto;
          right: 50%;
          @media (min-width: 601px) {
            right: -114px;
          }
          @media (max-width: 600px) {
            transform: translateX(45%);
          }
        }
      }
    }
  }

  &.is-style-image-600,
  &.is-style-image-600-circle {
    .wp-block-media-text__media {
      min-height: 600px;
      img {
        min-height: 600px;
      }
      @media (max-width: 600px) {
        height: 375px;
      }
    }
  }
  &.is-style-image-676,
  &.is-style-image-676-circle {
    .wp-block-media-text__media {
      min-height: 676px;
      img {
        min-height: 676px;

        @media (max-width: 600px) {
          min-height: unset;
        }
      }
      @media (max-width: 600px) {
        height: 375px;
      }
    }
    .wp-block-media-text__content {
      &:before {
        top: 58%;
      }
    }
  }
  &.is-style-image-488,
  &.is-style-image-488-circle {
    .wp-block-media-text__media {
      min-height: 488px;
      img {
        min-height: 488px;
      }
      @media (max-width: 600px) {
        height: 375px;
      }
    }
  }
  &.is-style-image-hight,
  &.is-style-image-hight-circle {
    .wp-block-media-text__media {
      min-height: 820px;
      img {
        min-height: 820px;
      }
      @media (max-width: 600px) {
        height: 375px;
      }
    }
  }
  &.is-style-image-600-circle {
    .wp-block-media-text__content {
      &:before {
        height: 1300px;
        width: 1300px;
      }
    }
  }
  // &.is-style-image-488-circle {
  //   .wp-block-media-text__content {
  //     &:before {
  //     }
  //   }
  // }
  &.is-style-image-hight-circle {
    .wp-block-media-text__content {
      &:before {
        height: 200vw;
        width: 200vw;
      }
    }
  }

  &[class*="-circle"] {
    .wp-block-media-text__content {
      &:before {
        content: "";
        background-color: $gray1;
        height: 1200px;
        width: 1000px;
        top: 50%;
        left: -114px;
        position: absolute;
        border-radius: 100%;
        z-index: -1;
        transform: translateY(-55%);

        @media (max-width: 601px) and (min-width: 400px) {
          top: -25vw;
        }
        @media (max-width: 600px) {
          height: 900px;
          width: 900px;
          top: -19vw;
          left: 50%;
          // transform: translateX(45%);
          transform: translate(-50%, 0%);
        }
      }
    }
  }
  &[class*="is-style-"] {
    .wp-block-media-text__media {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        min-height: 600px;

        @media (max-width: 600px) {
          min-height: unset;
        }
      }
      @media (max-width: 600px) {
        height: 375px;
      }
    }
  }

  @media (max-width: 767px) {
    &:not([class*="-circle"]) {
      .wp-block-media-text__content {
        padding: 20px !important;
      }
    }
  }

  &__content {
    padding: 0 20px 32px;
    @media (min-width: 601px) {
      padding: 20px;
    }
    @media (max-width: 767px) {
      padding-bottom: 32px !important;
      padding-top: 20px;
    }
    position: relative;
    z-index: 1;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      flex: 1;
    }

    > * {
      width: 100%;
      max-width: 720px;
    }
    p {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
    }
    ol,
    ul {
      &:last-child {
        padding-bottom: 0;
        li:last-child {
          margin-bottom: 0;
        }
      }
    }
    @media (max-width: 767px) {
      p {
        font-size: 16px !important;
      }
    }
    .wp-block-buttons {
      padding-top: 8px;
    }
    @media (min-width: 768px) {
      h1 {
        margin-bottom: 40px;
      }
      h2 {
        margin-bottom: 32px;
      }
      h3 {
        margin-bottom: 19px;
      }
      // .wp-block-buttons {
      //   padding-top: 32px;
      // }
    }
    @media (min-width: 1254px) {
      padding: {
        left: 83px;
        right: calc((100vw - #{$containerWidth}) / 2);
      }
    }
  }

  &.has-white-background-color {
    .wp-block-media-text__content {
      &:before {
        background-color: $white;
      }
    }
  }

  .wp-block-media-text__media {
    align-self: stretch !important;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      padding-top: 1px;
      flex: 1;
    }
    img {
      object-fit: cover;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        width: auto !important;
        position: absolute;
      }
    }
  }
  &.alignfull {
    .wp-block-media-text {
      @media (min-width: 601px) {
        &__media {
          height: 488px;
          img {
            height: 488px;
          }
        }
      }
    }
    &.has-media-on-the-right {
      .wp-block-media-text__content {
        @media (min-width: 1254px) {
          padding: {
            left: calc((100vw - #{$containerWidth}) / 2);
            right: 83px;
          }
        }
        &:before {
          left: auto;
          right: -114px;
        }
      }
    }
  }
  &:not(.alignfull) {
    .wp-block-media-text__content {
      @media (min-width: 768px) {
        > * {
          width: 100%;
          max-width: 640px;
        }
      }
      @media (min-width: 1440px) {
        padding-right: 0;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    &.has-media-on-the-right {
      .wp-block-media-text__content {
        @media (min-width: 1440px) {
          padding-right: 15px;
          padding-left: 0;
        }
      }
    }
    @media (max-width: 1253px) {
      margin: {
        left: -20px;
        right: -20px;
      }
    }
  }

  &.drop-shadow {
    box-shadow: 0 16px 16px #e9f2ff;
  }
}

.wp-block-quote {
  margin: 0;
  border-left: 16px solid $primary1;
  padding: 0 0 0 24px;
  font-size: 24px;
  line-height: 144%;
  @media print {
    font-size: 18px;
  }
  p {
    margin-bottom: 32px;
  }
  cite {
    @include rem(font-size, 12.8px);
    line-height: 1.35;
    font-style: normal;
    display: block;
    strong {
      @include rem(font-size, 20px);
    }
  }

  &.is-style-center-quote {
    border: none;
    text-align: center;
    @include rem(font-size, 16px);
    margin-bottom: 32px;
    padding: 0 38px;
    color: $black;
    position: relative;
    p {
      margin-bottom: 24px;
    }
    cite {
      @media (min-width: 768px) {
        @include rem(font-size, 16px);
      }
    }
    &:before,
    &:after {
      position: absolute;
      top: 0;
      font-size: 61.04px;
      line-height: 1.2;
      letter-spacing: -0.0178em;
      color: #212121;
    }
    &:before {
      content: "“";
      left: 0;
    }
    &:after {
      content: "”";
      right: 0;
    }
    @media (min-width: 768px) {
      @include rem(font-size, 25px);
      margin-bottom: 64px;
    }
  }
}

.wp-block-columns {
  @media (min-width: 768px) {
    flex-wrap: nowrap;
    .wp-block-column {
      flex-basis: 0;
      flex-grow: 1;
      
      &:not(:first-child) {
        margin-left: $gapBetweenColumns;
      }
      &[style*="flex-basis"] {
        flex-grow: 0;
      }
    }
  }
}

.is-style-narrow-width-center {
  max-width: 600px !important;
  margin: {
    left: auto !important;
    right: auto !important;
  }
}

.is-style-narrow-width-left {
  max-width: 600px !important;
  margin: {
    left: 0 !important;
  }
}

.wp-block-gallery {
  &.is-style-slideshow {
    .blocks-gallery-grid {
      padding: 0;
    }

    .blocks-gallery-item {
      figure {
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 0 16px;
      }

      img {
        height: unset;
      }

      figcaption {
        position: static;
        padding: 0;
        margin: auto 0 0;
        color: #424242;
        background: transparent;
        @include rem(font-size, 12.8px);
      }
    }

    .tns-controls {
      display: flex;
      justify-content: center;
      align-items: center;

      [data-controls="prev"],
      [data-controls="next"] {
        border-radius: 50%;
        border: 2px solid #005395;
        background: #fff;
        width: 20px;
        height: 20px;
        padding: 0;

        &:disabled {
          border-color: #9e9e9e;
        }
      }

      [data-controls="prev"] {
        order: 0;

        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 1L1.5 5L5.5 9' stroke='%23005395' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.5 5H1.5' stroke='%23005395' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }

        &:disabled {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 1L1.5 5L5.5 9' stroke='%239E9E9E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.5 5H1.5' stroke='%239E9E9E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          }
        }
      }

      [data-controls="next"] {
        order: 2;

        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 9L9.5 5L5.5 1' stroke='%23005395' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 5H9.5' stroke='%23005395' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }

        &:disabled {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 9L9.5 5L5.5 1' stroke='%239E9E9E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 5H9.5' stroke='%239E9E9E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          }
        }
      }

      .counter {
        order: 1;
        @include rem(font-size, 16px);
        line-height: 1.6;
        padding: 0 10px;
      }
    }
  }
}

.wp-block-yoast-faq-block {
  max-width: 607px;
  margin: 0 auto;
  .schema-faq-section {
    margin-bottom: 32px;
    @include rem(font-size, 20px);
    line-height: 1.7;
    letter-spacing: -0.33px;
    color: #424242;
    .schema-faq-question {
      padding-left: 30px;
      margin-bottom: 32px;
      position: relative;
      display: block;

      &:before {
        content: "Q";
        font-weight: bold;
        color: #005395;
        position: absolute;
        left: 0;
      }
    }

    .schema-faq-answer {
      padding-left: 30px;
      margin-bottom: 0;
      position: relative;

      &:before {
        content: "A";
        font-weight: bold;
        color: #005395;
        position: absolute;
        left: 0;
      }
    }
  }
}

:root {
  @each $name, $color in $colors {
    .has-#{$name}-color {
      color: $color;
      &.wp-block-button__link {
        color: $color !important;
      }
    }

    .has-#{$name}-background-color {
      &:not(.wp-block-separator) {
        background-color: $color;
      }
      &.wp-block-separator {
        border-bottom-color: $color;
      }

      &.wp-block-button__link {
        background-color: $color !important;
        border-color: $color !important;
        &:hover {
          background-color: darken($color, 15) !important;
          border-color: darken($color, 15) !important;
        }
      }
    }
  }
}
@each $name, $size in $paddings {
  .section-top-pad-#{$name} {
    padding-top: $size;
    @media (max-width: 767px) {
      padding-top: calc(#{$size}/ 2);
    }
  }
  .section-bot-pad-#{$name} {
    padding-bottom: $size;
    @media (max-width: 767px) {
      padding-bottom: calc(#{$size}/ 2);
    }
  }
}

@each $name, $size, $sizem, $lh, $lhm in $sizes {
  .has-#{$name}-font-size {
    @include rem(font-size, #{$sizem});
    line-height: $lhm;
    @media (min-width: 768px) {
      @include rem(font-size, #{$size});
      line-height: $lh;
    }
  }
}

@each $name, $weight in $weights {
  .is-style-#{$name} {
    font-weight: $weight;
  }
}
