// .info-bar {
//   width: 100%;
//   // background: #FAFCFF;
//   padding: 13px 0;
//   display: flex;
//   justify-content: space-between;

//   .container {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//   }

//   &-col {

//     .menu {
//       display: flex;
//       margin: 0;
//       padding: 0;
//       list-style: none;
//       align-items: center;

//       li {
//         padding: 0;
//         margin: 0 10px;

//         @media (max-width: 767px) {
//           display: none;
//         }

//         a {
//           @include rem(font-size, 12px);
//           color: $primary2;
//           font-family: $mainFont;
//           text-decoration: none;
//           display: inline-flex;
//           align-items: center;
//           transition: all 0.3s;

//           &:hover {
//             color: $secondary2;
//           }
//           span {
//             display: none;
//           }

//           svg {
//             margin: 0 10px 0 0;
//           }
//         }
//       }
//     }

//   }
// }
.site-footer {
  margin-top: 121px + 96px;
  background: $footerBg;
  color: $footerColor;
  padding: $footerPadding;
  letter-spacing: 0.22px;
  position: relative;
  @media (max-width: 767px) {
    padding: 25px 0;
  }
  @media print {
    margin-top: 25px;
  }

  &:before {
    content: "";
    height: 121px;
    position: absolute;
    top: -121px;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='1224' height='121' viewBox='0 0 1224 121' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M1215.1 69.2127V65.4561H1206.79V69.2127H1206.59V97.881H1205.6V69.2127H1200.46V66.8401H1188.4V70.3989H1192.55V70.9921H1193.14V90.5656H1199.47V91.1587H1200.07V100.847H1199.08V91.7519H1193.34V98.0787H1192.35V71.3875H1188.79V70.7944H1187.21V60.1179H1183.25V71.7829H1178.9V92.7404H1179.49V102.033H1193.14H1206.79H1221.43V103.021H1207.78L1211.14 107.964L1210.75 108.162H1211.34V114.291H1210.35V108.36L1206.79 103.021H1194.73L1199.67 107.964L1199.27 108.36H1199.87V114.489H1198.88V108.557L1193.34 103.021H1178.9V116.07H1177.91V92.9381H1156.55V98.8695H1160.51V99.4627H1161.1V111.128H1160.11V99.8581H1156.15V99.4627H1155.56V92.9381H1156.15V90.5656H1153.19V83.2502H1144.09V86.6113H1144.68V114.687H1143.69V100.056H1136.57V114.687H1135.38V99.4627H1135.98V98.8695H1143.69V86.6113H1123.52V90.961H1124.11V114.687H1123.12V90.961H1108.29V94.9153H1100.57L1100.77 95.5084L1070.9 102.824V107.569H1099.38V108.162H1099.98V118.443H1098.99V108.755H1071.1V113.303H1070.51V113.896H1063.19V118.443H1062.2V113.303H1062.79V112.709H1070.11V102.428H1070.7L1070.51 102.033L1098.99 95.113H1091.87V77.3189H1076.44V83.2502H1077.03V99.4627H1076.04V83.2502H1057.45V81.2731H1052.7L1048.75 77.3189L1044.4 81.2731H1039.45V83.2502H1034.51V81.2731H1031.54V78.5051H1010.57V84.2388H1008.59V94.3221H1009.19V101.242H1009.38H1015.12V94.3221H1015.71V93.729H1019.87V94.7176H1016.31V101.637H1015.71V102.231H1009.38H1009.19V117.257H1008.2V94.3221H1004.24V118.245H1002.86V94.3221H1003.45V71.1898H1000.88V61.8973H975.758V99.8581H974.769V61.8973H975.363V55.5705H963.099V58.9316H958.549V94.3221H957.56V58.9316H958.154V53.0002H937.187V58.7339H925.912V97.4855H968.242V98.0787H968.835V103.417H990.396V104.01H990.989V118.838H990V104.405H968.835V104.603H967.846V104.405H936.198V118.048H935.209V102.824H936.198V103.417H967.846V98.2764H926.11V97.6832H919.187V121.409H1224.79V69.2127H1215.1ZM982.879 116.07H981.89V111.128H966.659V110.535H966.066V107.964H955.385V110.535H954.791V111.128H948.857V116.07H947.868V110.535H948.461V109.941H954.396V107.371H954.989V106.778H966.857V107.371H967.451V109.941H982.681V110.535H983.275V116.07H982.879ZM1060.81 117.257H1059.82V99.2649H1019.67V98.6718H1019.08V94.9153H1020.07V98.2764H1060.22V98.8695H1060.81V117.257ZM1104.13 118.245H1103.14V94.9153H1104.13V118.245ZM1221.23 114.489H1220.24V103.417H1221.23V114.489Z' fill='%23005395'/%3E%3Cpath d='M245.077 74.2386C246.066 74.2386 247.055 73.4477 247.055 72.2614C247.055 71.2729 246.264 70.2843 245.077 70.2843C244.088 70.2843 243.099 71.0752 243.099 72.2614C243.099 73.4477 243.89 74.2386 245.077 74.2386Z' fill='%23005395'/%3E%3Cpath d='M301.846 97.3708V119.317H300.857V97.3708H301.451V95.5914H286.22V97.5685H276.923V103.895H275.934V97.3708H266.44V92.6257H255.165V97.3708H252.198V104.291H251.209V97.3708H251.802V84.3218L252.791 82.1469V76.2156H249.626V64.7482H242.901L239.934 65.5391V76.2156H236.769V81.1584L237.956 84.3218V92.2303H238.549V107.85H237.56V92.2303H210.264L210.659 92.6257L203.934 101.918V111.211H202.945V101.72H203.538L203.143 101.325L209.67 92.2303H203.934L202.549 95.196H199.187V98.3594H197.209V96.7777H187.912V98.1617H185.736V96.3822H175.253V89.66H166.154V99.7433H165.165V89.66H165.758V86.892H163.582V77.5996H162.396V74.4362H160.418V69.4933H158.242V67.5162H157.055V65.3414H152.901V42.9999H152.308V65.5391H147.165V64.1551H143.604V65.5391L141.033 66.9231V69.2956L138.462 70.8773V76.611H136.484V80.3675H134.703V93.812H129.956V96.3822L130.154 95.7891L159.626 103.302L159.429 103.895H160.022V117.142H159.033V104.291L129.758 96.7777L129.956 96.1845L118.681 100.336L118.879 100.732L111.363 104.093V116.944H110.374V103.698H110.769L110.571 103.302L117.297 100.336H108.198V83.9264H56.5714V84.5195H36.3956V93.0211H35.4066V82.3447H36.3956V83.5309H56.5714V78.7858H50.6374V76.2156H47.4725V69.4933H34.4176V71.075H26.3077V69.4933H23.3407V71.6682H21.1648V99.3479H101.473V99.9411H102.066V116.944H100.879V100.534H21.1648V99.9411H0V107.85V121.492H305.604V97.3708H301.846ZM37.978 116.944H36.989V104.291H17.2088V116.944H16.2198V103.698H16.8132V103.302H37.5824V103.895H38.1758V116.944H37.978ZM75.5604 116.944H74.5714V104.291H54.7912V116.944H53.8022V103.698H54.3956V103.302H75.1648V103.895H75.7582V116.944H75.5604ZM245.077 69.2956C246.659 69.2956 248.044 70.6796 248.044 72.2613C248.044 73.843 246.659 75.227 245.077 75.227C243.495 75.227 242.11 73.843 242.11 72.2613C242.11 70.6796 243.297 69.2956 245.077 69.2956ZM292.549 119.317H291.56V106.861H245.473V114.572V119.317H244.484V115.165H200.769H192.659V119.317H191.67V114.572H192.264V113.979H200.374V110.618L193.253 106.663L193.451 106.268H192.857V102.709H161.209V101.72H193.451V102.314H194.044V106.268L201.165 110.222L200.967 110.618H201.56V114.176H244.879V106.466H245.473V105.872H292.549V106.466H293.143V119.317H292.549Z' fill='%23005395'/%3E%3Cpath d='M590.637 92.8072V106.449H599.736V99.5294H600.33V98.5408H605.473V99.5294V100.518H600.923V106.449H604.879V100.913H605.473H606.066V106.449H608.242V107.438H608.835V108.624V118.905H608.242H607.648V108.624V108.426H590.637V112.578H590.044H589.451V92.8072H590.044V36.2614L585.297 32.1095H578.769V7H577.582V32.1095H576.198V26.7712H568.879V71.652H569.473V114.556H568.879H568.286V71.652H562.549V84.5033H563.143V114.556H562.549H561.956V84.5033H555.429V90.6324H549.494V87.2712H544.747V110.601V114.556H544.154H543.56V110.601V86.4804H544.154V21.2353H541.385V11.152H527.143V22.6193H520.22V89.2484H520.813V114.556H520.22H519.626V89.2484H517.451V71.652H511.121V68.2909H506.374V74.4199H497.868V98.1454H498.462V114.556H497.868H497.275V98.1454H472.549V114.556H471.956H471.363V98.1454H471.956V60.7778H468L464.835 58.0098H451.978V51.2876H449.604L446.044 57.4167H440.11V62.1618H437.736V90.0392H438.33V109.415H437.736H437.143V90.0392H396.396V104.077H403.517L405.692 100.518L406.088 101.309L406.484 100.518L408.066 103.088H413.604V104.275H414.198V106.845H426.066V107.833H426.659V116.73H426.066H425.473V109.02H414.198V113.369H413.604H413.011V105.263H407.868V104.275L407.275 104.868L406.088 102.693L404.308 105.658L403.714 105.065V106.054H396.396V113.369H395.802H395.209V90.0392H395.802V50.4967H391.846V45.1585H368.308V50.4967H368.901V80.3513H368.308H367.714V50.4967H358.615V54.6487H349.121V82.3284H385.912V83.317H386.506V102.495V113.369H385.912H385.319V102.495V84.3056H349.121V84.5033H342V73.0359H318.462V84.1078H339.429V85.2941V86.2827H318.462V90.0392H315.89V114.753H315.099H314.506V90.0392H315.099V64.1389H305.604V121.278H614.769V92.8072H590.637Z' fill='%23005395'/%3E%3Cpath d='M652.154 102.031V102.427L652.549 102.229L654.725 106.776H660.264V87.9935H650.769V102.031H652.154Z' fill='%23005395'/%3E%3Cpath d='M816.33 112.114V118.639H815.736H815.143V107.765H805.846V107.172H805.253V103.02H787.253V102.426V98.4722H779.143V102.426H778.55V103.02H774.791V106.776H778.55V107.369V107.765H755.802V107.172H755.209V100.054H748.879V116.859H748.286H747.692V79.6895H745.121V79.0964L744.725 79.4918L740.374 74.9444L738.989 76.9215L738.593 76.7238V77.3169H721.187V76.7238V76.1307H738.396L739.978 73.9558L740.374 74.1535L740.769 73.7581L745.319 78.7009H748.088V79.2941H748.681V99.263H755.604V99.8562H756.198V106.974H773.802V56.3594H772.22V54.7777H766.484V90.366H761.143V70.7924L759.165 68.8153V63.8725H758.176L750.857 42.5196C747.495 38.9607 735.033 38.5653 735.033 38.5653L735.231 38.9607L719.011 42.3218V78.5032H721.78V79.0964H722.374V120.023H721.78H721.187V79.6895H699.626V79.0964H699.033V68.8153H699.626L691.121 66.6405H680.835V78.1078H660.659V87.9934H661.253V116.859H660.659H660.066V107.765H654.33V107.172L653.934 107.369L651.758 102.822H614.769V121.802H882V111.917H816.33V112.114Z' fill='%23005395'/%3E%3Cpath d='M649.78 87.9934H650.374V85.2254H646.418L641.67 82.8529L635.934 85.2254V86.6094H631.978V89.7728H619.121V96.8905H614.769V102.031H649.78V87.9934Z' fill='%23005395'/%3E%3Cpath d='M916.615 99.856V116.068H916.022H915.428V99.856H916.022V87.5979L912.066 86.4116H894.066H890.11V83.0505H884.176V85.6207H884.769V97.4835H886.945V98.0766H887.538V104.403H891.099V104.997H891.692V113.103H891.099H890.505V105.59H886.945V104.997H886.352V98.6698H882.593V98.0766V97.4835H883.78V85.6207H877.648V77.91C877.648 73.1649 875.077 72.5717 875.077 72.5717C872.505 72.5717 872.505 78.3054 872.505 78.3054V85.8185H870.132V107.369H869.538H868.945V85.6207H869.538V73.758L862.022 70.99H854.901V61.6975L850.945 55.173L847.385 61.4998V33.2269L839.67 29.8658L834.725 29.4704V27.4933H827.802L825.824 29.4704H816.923V60.9067L817.319 60.709L819.494 64.6632H828.989V65.2564H829.582V81.4688H836.11V82.0619H836.703V87.7956H867.758V87.9933H868.352V107.171H867.758H867.165V88.3887H836.11V87.9933H835.516V82.2596H819.692V86.4116H819.099H818.505V81.6665H819.099V81.0734H828.395V65.4541H819.099V64.8609L818.703 65.0587L816.527 60.9067L816.923 60.709C815.934 58.7319 810.989 57.3479 809.407 56.7547V87.2024H819.099V87.9933V88.5864H809.407V104.997H808.813H808.22V56.9524H808.813V44.6943L802.286 42.5194V39.9492L797.736 37.3789H787.45V40.5423H774.396V56.3593H774.989V101.833H778.154V97.8789H778.747V97.2858H787.846V97.8789H788.439V101.833H806.439V102.426H807.033V106.578H816.33V107.171H816.923V110.928H882.593V109.742H883.187H883.78V121.802H919.187V99.856H916.615Z' fill='%23005395'/%3E%3Cpath d='M700.22 78.701H717.824V41.9265H718.418L718.22 41.531L735.033 37.9722V38.5654V22.7484H733.451V16.0261H730.286V11.0833H729.099L719.011 1L708.33 11.281V16.4216H704.374V21.9575L702.594 23.7369V35.2042L701.605 36.7859V54.7778L699.627 57.348V69.0131H700.22V78.701Z' fill='%23005395'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='1224' height='121' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    @media print {
      display: none;
    }
  }

  a {
    color: $footerColor;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 0.8;
      color: $footerColor;
      text-decoration: underline;
    }
  }

  .btn-toggle-submenu {
    display: none;
  }

  &-columns {
    // padding: 40px 0;
    // border-bottom: 1px solid #FFF;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px 0;
    // @media (max-width: 767px) {
    //   display: none;
    // }
    .menu {
      display: flex;
      align-items: center;
      margin: 0 -10px;
      li {
        padding: 0 10px;
        vertical-align: middle;
        a {
          font-weight: 400!important;
        }
      }
      svg {
        vertical-align: middle;
        margin-right: 8px;
      }
    }
  }

  .footer-col {
    @media (min-width: 768px) {
      margin-bottom: 16px;
    }
    &:first-child {
      margin-bottom: 0;
    }
    .h3 {
      @include rem(font-size, 16px);
      font-family: $mainFont;
      font-weight: 700;
      margin: 0 0 16px;
      @media (max-width: 767px) {
        @include rem(font-size, 12.8px);
      }
    }
    @media (max-width: 767px) {
      .d-flex {
        .col {
          &:first-child {
            order: 2;
          }
          &:last-child {
            order: 1;
            margin-left: 0;
            margin-right: 38px;
          }
        }
      }
      &:first-child,
      &:last-child {
        display: none;
      }
    }
  }

  &-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 32px;
    // align-items: center;
    // padding: 0 0 50px;
    // border-bottom: 1px solid #fff;

    @media print {
      display: none
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    .widget_social {
      margin: 0 auto;
      text-align: center;
      ul {
        justify-content: center;
        li {
          @media (min-width: 768px) {
            margin: 0 17px;
          }
        }
        a {
          @include rem(font-size, 44px);
          @media (max-width: 767px) {
            @include rem(font-size, 24px);
          }
          color:$primary1;
          &:hover {
            color:$primary2;
          }
        }
      }
      .h3 {
        @include rem(font-size, 31px);
        font-family: $mainFont;
        // font-weight: 700;
        margin: 0 0 54px;
        color: $primary1;
        position: relative;
        @media (max-width: 767px) {
          @include rem(font-size, 18.75px);
        }
        &:after {
          content: "";
          width: 96px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -16px;
          height: 1px;
          width: 96px;
          margin: 0 auto;
          background-color: $tertiary1;
        }
      }
      p {
        @include rem(font-size, 16px);
        margin: 0;
        line-height: 25.6px;
      }
    }

    .widget_text {
      margin: 0 40px 0 0;
      .h3 {
        @include rem(font-size, 20px);
        font-family: $mainFont;
        font-weight: 700;
        margin: 0 0 30px;
        color: $primary1;
      }
      p {
        @include rem(font-size, 16px);
        margin: 0;
        line-height: 25.6px;
      }
      a {
        color:$primary1;
      }
    }
  }
  &-middle {
    // @media (min-width: 768px) {
      display: flex;
    // }
    .menu-middle-menu-container {
      // margin-bottom: 32px;
      .menu {
        @include rem(font-size, 12px);
        @include rem(line-height, 19.06px);
      }
    }

    .col-left {
      column-count: 3;
      column-gap: 0;
      @media (max-width: 767px) {
        display: none;
      }
      flex: 1; -ms-flex: 1 0 auto;
      margin-right: 20px;
      @media (min-width: 992px) {
        margin-right: 80px;
      }
    }
    .col-right {
      margin: 0 auto;
      @include rem(font-size, 12px);
      @media (max-width: 600px) {
        width: 100%;
      }
      @media (min-width: 768px) {
        margin-left: auto;
        // display: flex;
      }
      .col + .col {
        margin-left: 38px;
      }
      p {
        margin-bottom: 16px;
      }
    }
    .menu {
      // display: flex;
      // margin: 0;
      list-style: none;
      @include rem(line-height, 25.6px);

      li {
        margin: 0 0 4px;
        list-style: none;

        &:first-child {
          border: none;
        }

        a {
          // margin: 0 10px;
          color: #fff;
          font-weight: 700;
        }
      }
    }

    .sub-menu {
      @include rem(font-size, 12.8px);
      @include rem(line-height, 19.2px);
      margin-top: 8px;
      .sub-menu {
        padding-left: 10px;
        margin-top: 4px;
        margin-bottom: 0px;
        a {
          font-weight: 400;
          @include rem(line-height, 16px);
        }
      }
    }
  }
  &-bottom {
    width: 100%;
    padding: 40px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include rem(font-size, 12px);
    @include rem(line-height, 19.2px);

    @media (max-width: 767px) {
      // flex-direction: column;
      // align-items: center;
      padding: 0;
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 4fr 1fr;
      gap: 0px 0px;
      grid-template-areas: 
        "item1 item3"
        "item2 item3";

      .menu-privacy {
        grid-area: item2;
      }
      .info-bar-col {
        order: 3;
        grid-area: item3;
        text-align: right;
        img {
          display: block;
        }
      }
      .site-footer-copyright {
        order: 2;
        grid-area: item1;
      }
    }

    .menu-privacy {
      .menu {
        display: flex;
        list-style: none;
        margin: 0;
        li {
          padding: 0 2px 0 6px;
          margin: 0 2px;
          border-left: 1px solid;
          line-height: 1;
          &:first-child {
            border: 0;
            padding-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .menu-item-369 {
    .sub-menu li {
      margin-bottom: 1px;
    }
  }
}
