*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  //min-height: 100%;
  &.mobile-menu-show {
    overflow: hidden;
    max-height: 100vh;
  }
}

body {
  background: $bodyBg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.skip-link {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
  &:focus {
    color: #fff;
    display: inline-block;
    height: auto;
    width: auto;
    position: static;
    margin: auto;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  &:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
  }
}

/* Track */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px 6px $snow_white;
  -webkit-box-shadow: inset 0 0 6px 6px $snow_white;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary1;
  border-radius: 4px;
}

.wrapper {
  max-width: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.main-content {
  max-width: 100vw!important;
  grid-area: content;
  overflow: hidden;
}

.container {
  @include container();
}

img {
  max-width: 100%;
  height: auto;
  display: inline-flex;
}

figure {
  margin: 0;
}

hr {
  border-top: 1px solid #bdbdbd;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1; -ms-flex: 1 0 auto;
}

.fz-16 {
  font-size: 16px;
}
.fz-20 {
  font-size: 20px;
}

.group-col {
  margin-bottom: 1.5em;
  line-height: 160%;
  letter-spacing: -0.18px;
  width: 50%;
  padding-right: 1em;
  @media (min-width: 992px) {
    font-size: 21px;
    width: 33.33%;
  }
  @media (max-width: 767px) {
    width: 100%;
    padding-right: 0;
    p {
      margin-bottom: 10px;
    }
  }

  strong {
    text-transform: capitalize;
    font-size: 12.8px;
    line-height: 16px;
    letter-spacing: -0.09px;
  }
  a {
    text-decoration: none;
  }
}

.d-none {
  display: none;
}

.nonprint {
  @media print {
    display: none !important;
  }
}

.breadcrumbs {
  padding: 13.5px 0;
  @media print {
    display: none;
  }
  a {
    text-decoration: none;
    color: $black;
  }
  strong {
    color: $black;
  }
  svg {
    margin: 0 6px;
  }
}

.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

.collaps {
  &-header {
    background-color: red;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 1em;
      top: 29px;
      width: 14px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8' fill='none'%3E%3Cpath d='M13 7L7 0.999999L1 7' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      transition: transform 0.35s ease-in-out;

      transform: rotate(180deg);
      .open & {
        transform: rotate(0deg);
      }
    }
    a {
      padding: 13px 14px;
      display: block;
      background-color: $snow_blue;
      font-weight: $font-weight-medium;
      font-size: 25px;
      line-height: 38px;
      letter-spacing: -0.47px;
      text-decoration: none;
      border: 1px solid #eff4ff;
      border-bottom: none;
      color: $text_black;
    }
  }
  &-content {
    background-color: $white;
    border: 1px solid #eff4ff;
  }
}

.pagination-wrapper {
  text-align: center;
  margin-bottom: 64px;
  .prev, .next {
    @extend .btn-tertiary;
  }
  .prev {
    margin-right: 12px;
  }
  .next {
    margin-left: 12px;
  }
  .btn {
    padding-left: 24px!important;
    padding-right: 24px!important;
  }
  .page-numbers {
    padding: 20px;
    text-decoration: none;
    color: $copy;
    &.disabled {
      pointer-events: none;
      color: $placeholder;
      svg path {
        stroke: $placeholder;
      }
    }
    &:hover {
      color: $primary1;
      svg path {
        stroke: $primary1;
      }
    }
    &.current {
      text-decoration: underline;
      font-weight: $font-weight-medium;
      color: $copy!important;
      cursor: default;
    }
    svg {
      vertical-align: -7px;
    }
  }
}

.list-contents {
  list-style-type: none;
  counter-reset: number;
  @media (min-width: 768px){
    column-gap: 60px;
    margin: 0 auto;
    max-width: 710px;
    columns: 2;
  }
  a {
    @extend .btn-link;
  }
  li{
    position: relative;
    padding-left: 10px;
    &:before {
      counter-increment: number;
      content: counter(number);
      font-weight: normal;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: -0.47px;
      color: $primary1;
      position: absolute;
      left: -20px;
      @media (max-width: 767px){
        font-size: 20px!important;
        line-height: 26px;
      }
    }
    a{
      font-weight: bold!important;
      font-size: 21px;
      line-height: 160%!important;
      letter-spacing: -0.18px;
      color: $black!important;
      @media (max-width: 767px){
        font-size: 18px!important;
      }
    }
  }
}

// .wp-block-image img {
//   width: 100%;
// }

.mb-0 {
  margin-bottom: 0 !important;
}

@media (max-width: 599px) {
  .col-contact {
    flex-wrap: nowrap;
    .wp-block-columns {
      margin-bottom: 0.5em;
      flex-wrap: nowrap;
    }
    .wp-block-column {
      flex-grow: unset;
      &:first-child {
        flex-basis: 44px!important;
      }
    }
  }
}

#msg {
  visibility: hidden;
  min-width: 300px;
  background-color: #93a445;
  color: #fff;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

#msg.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
  animation: fadein 0.5s, fadeout 0.5s 2s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

iframe {
  max-width: 100%;
}