.widget_social {
  @media print {
    display: none;
  }
  ul{
    margin: 0 -5px;
    padding: 0;
    display: flex;
    li {
      list-style: none;
      margin: 0 5px;
      padding: 0;
      @media (max-width: 767px) {
        margin: 0 10px;
      }
      a {
        font-size: 18px;
        text-decoration: none;
        @media (max-width: 767px) {
          @include rem(font-size, 24px);
        }
      }
    }
  }
  .site-header-top & {
    margin-right: auto;
    margin-left: 18px;
  }
}
.sidebar-widget {
  width: 100%;  
  border-radius: 0px 0px 16px 16px;
  margin: 0 0 30px;
  // box-shadow: 2px 2px 4px #E9F2FF; 

  &.widget_nav_menu {
    box-shadow: none;
    border-radius: 0;

    .menu {
      margin: 0;
      padding: 0 0 0 24px;
      list-style: none;

      li {
        padding: 0;
        margin: 0 0 30px;

        a {
          @include rem(font-size, 16px);
          line-height: 18.6px;
          color: $black;
          padding: 0 35px 0 0;
          font-family: $mainFont;
          font-weight: 700;
          text-decoration: none;
          background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66669 16L25.3334 16' stroke='%23002F86' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 6.66663L25.3333 16L16 25.3333' stroke='%23002F86' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: 100% 50%;
          transition: all 0.5s;

          &:hover {
            color: $secondary1;
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66669 16L25.3334 16' stroke='%23147fbe' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 6.66663L25.3333 16L16 25.3333' stroke='%23147fbe' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-position: 98% 50%;
          }
        }
      }
    }
  }

  &.upload_portal_widget {
    .text {
      @include rem(font-size, 16px);
    }
    .wp-block-button[class*=-outline]:not([class*=-tertiary]) {
      text-align: center;

      .wp-block-button__link {
        font-weight: 400;
        svg {
          margin: 4px 0 0 5px;
        }
      }
    }
  } 

  &--content {
    // background: #FAFCFF;
    padding: 14px 24px 32px;

    .downloads-list {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        width: 100%;
        margin: 0 0 20px;

        a {
          @include rem(font-size, 16px);
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          color: $black;
          transition: all 0.3s;

          span {
            text-transform: uppercase;
            display: flex;

            svg {
              margin: 0 0 0 5px;
              fill: none;
              stroke-width: 3;
              stroke: $black;
            }
          }

          &:hover {
            color: $secondary1;

            svg {
              stroke: $secondary1;
            }
          }
        }
      }
    }
  }
  &--title {
    // background: $primary2;
    border-radius: 16px 16px 0px 0px;
    @include rem(font-size, 25px);
    font-family: $mainFont;
    font-weight: 700;
    // color: #fff;
    padding: 16px 24px;
  }
}