$gap: 12px;
.blck-inner-team-listing {
  .team-grid{
    display: flex;
    justify-content: var(--justify);
    flex-wrap: wrap;
    margin-left: -$gap;
    margin-right: -$gap;
    // text-align: center;
    &-item {
      display: flex;
      background-color: $white;
      margin: 0 $gap $gap*2;
      width: calc(100% / var(--mobile) - (#{$gap} * 2));
      @media (min-width: 660px){
        width: calc(100% / var(--tablet) - (#{$gap} * 2));
      }
      @media (min-width: 990px){
        width: calc(100% / var(--desktop) - (#{$gap} * 2));
      }
      // flex-direction: row;
      @media (min-width: 659px) and (max-width: 991px){
        flex-direction: column;
      }
      
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        width: calc(100% / 2 - (#{$gap} * 2));
      }

      @media (max-width: 499px){
        display: block;
      }
      
      .txt {
        flex:1;
        padding: 24px;
        a {
          text-decoration: none;
        }
      }
      .img {
        background: #f2f2f2;
        flex-basis: 300px;
        height: 300px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
          display: block;
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            height: auto;
          }
          // @media (min-width: 768px) and (max-width: 991px){
          //   flex-direction: column;
          // }
        }
      }
      .job {
        font-size: 12.8px;
        line-height: 16px;
        margin-bottom: 8px;
      }
      .name {
        font-weight: bold;
        line-height: 38px;
        margin-bottom: 16px;
        letter-spacing: -0.47px;
        font-size: 18px;
        @media (min-width: 768px) {
          font-size: 25px;
        }
      }
    }
  }
  &.congressional_district_styles {
    .img {
      flex-basis: 192px;
      height: 176px;
    }
    .txt {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .btn {
      margin-top: auto;
    }
  }
}