@import "node_modules/sass-rem/rem";
// @import "../variables";

.block-featured {
  position: relative;
  width: 100%;
  min-height: 640px;
  max-height: 640px;
  display: flex;

  @media (max-width: 1199px) {
    &-container {
      &.container {
        padding: 0;
      }
    }
  }

  &.mod-l-img {
    .block-featured--content {
      // padding: 0 0 0 100px;
      @media (max-width: 991px) {
        padding: 20px;
      }
    }
    .block-featured-col {
      .desktop {
        text-align: right;
      }
      &:last-child {
        order: 1;
        display: inline-flex;
      }
      &:first-child {
        order: 2;
        display: inline-flex;
      }
    }
  }

  &-col {
    display: inline-flex;
    align-items: center;
    @media (max-width: 991px) {
      &:last-child {
        order: 1;
        display: inline-flex;
        @media (max-width: 767px) {
          .footer-talk & {
            display: none;
          }
        }
      }
      &:first-child {
        order: 2;
        display: inline-flex;
      }
    }
    // @media (max-width: 767px) {
    //   background: $bg-blue;
    // }
    > div {
      width: 100%;
      > img {
        min-height: 640px;
        max-height: 640px;
        width: 100%;
        object-fit: cover;
      }
      &.mobile {
        img {
          // max-width: unset;
          // width: 100%;
          // max-height: 50vh;
          // object-fit: cover;
          min-height: unset;
        }
      }
    }
  }

  &.image-h549 {
    min-height: 549px;
    max-height: 549px;
    .block-featured-col > div > img {
      min-height: 549px;
      max-height: 549px;
    }
  }
  &.image-h710 {
    min-height: 710px;
    max-height: 710px;
    .block-featured-col > div > img {
      min-height: 710px;
      max-height: 710px;
    }
  }
  &.image-full {
    min-height: unset;
    max-height: unset;
    .block-featured-col > div > img {
      width: auto;
      min-height: unset;
      max-height: unset;
    }
  }

  &.mod-one_third {
    grid-template-columns: 3fr 4fr;

    @media (min-width: 991px) and (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      max-height: unset;
    }
  }
  &.mod-one_half {
    grid-template-columns: 1fr 1fr;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      max-height: unset;
    }
  }
  &.mod-two_third {
    grid-template-columns: 4fr 3fr;

    @media (min-width: 991px) and (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      max-height: unset;
    }
  }
  &.mod-three_fourth {
    grid-template-columns: 7fr 4fr;

    @media (min-width: 991px) and (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      max-height: unset;
    }
  }
  &.mod-one_fourth {
    grid-template-columns: 4fr 7fr;

    @media (min-width: 991px) and (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      max-height: unset;
    }
  }

  &--content {
    width: 100%;
    padding: 10px 100px;
    .container & {
      padding: 0 35px 0 0;
      @media (max-width: 991px) {
        padding: 20px;
      }
    }
    .container .mod-l-img & {
      padding: 0 0 0 35px;
      @media (max-width: 991px) {
        padding: 20px;
      }
    }

    @media (max-width: 991px) {
      div {
        max-width: unset !important;
      }
    }

    ul {
      list-style: disc;
    }
    .cols2 {
      columns: 2;
    }

    &.no-paddings {
      padding: 0 20px 0 0;

      @media (max-width: 991px) {
        padding: 20px;
      }
    }

    @media (min-width: 991px) and (max-width: 1199px) {
      padding: 50px 20px !important;
    }
    @media (max-width: 991px) {
      padding: 20px 50px;
      // text-align: center;
    }

    .title {
      line-height: 1.5;
      @media (max-width: 767px) {
        @include rem(font-size, 20px!important);
      }

      // .home &,
      // .page-id-75856 & {
      //   color: $pink;
      // }
      // @media(min-width: 768px) {
      // }

      // &.h1 {
      //   @include rem(font-size, 61.04px);
      //   // font-family: $a-medium;

      //   @media (max-width: 991px) {
      //     @include rem(font-size, 48.83px);
      //   }
      // }
      // &.h2 {
      //   @include rem(font-size, 48.83px);
      //   @media (max-width: 991px) {
      //     @include rem(font-size, 36px);
      //   }
      // }
      // &.h3 {
      //   @include rem(font-size, 36px);
      //   @media (max-width: 991px) {
      //     @include rem(font-size, 30px);
      //   }
      // }
      // &.h4 {
      //   @include rem(font-size, 31.25px);
      //   @media (max-width: 991px) {
      //     @include rem(font-size, 24px);
      //   }
      //   // font-family: $main-bold;
      //   margin-bottom: 24px;
      // }
      &.with-subtitle {
        margin-bottom: 5px;
      }
      // &.mod-highlight-left {
      //   border-left: 6px solid $highlight;
      //   padding: 0 0 0 20px;

      //   @media (max-width: 991px) {
      //     border-left: none;
      //     padding: 0;
      //     display: inline-block;
      //     position: relative;
      //     z-index: 0;

      //     &:after {
      //       position: absolute;
      //       bottom: 4px;
      //       left: 0;
      //       display: inline-block;
      //       content: "";
      //       width: 100%;
      //       height: 20px;
      //       z-index: -1;
      //       background: $highlight;
      //     }
      //   }

      // }
      // &.mod-highlight-center {
      //   position: relative;
      //   display: inline-block;
      //   z-index: 0;
      //   &:after {
      //     position: absolute;
      //     bottom: 4px;
      //     left: 50%;
      //     transform: translateX(-50%);
      //     display: inline-block;
      //     content: "";
      //     width: 0;
      //     height: 8px;
      //     z-index: -1;
      //     background: $highlight;
      //     transition: all 0.8s;
      //   }

      // }
    }

    h5 {
      @include rem(font-size, 24px);
      @media (max-width: 767px) {
        @include rem(font-size, 18px);
      }
    }

    p {
      line-height: 1.625;
      // @include rem(font-size, 25px);
      // margin: 0 0 24px;
      // line-height: 38px;
      // letter-spacing: -0.37px;
      // color: $base;

      @media (min-width: 768px) and (max-width: 991px) {
        @include rem(font-size, 24px);
        line-height: 1.2;
      }
    }
    @media (max-width: 767px) {
      .subtitle,
      .link {
        display: none;
      }
    }
    .pretitle {
      color: $primary1;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      text-transform: uppercase;
      margin-bottom: 16px;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    hr {
      border-color: $primary1;
      border-width: 0 0 1px;
      margin: 0 0 60px;
      max-width: 138px;
      @media (max-width: 991px) {
        margin: 40px 0;
      }
    }
  }
  &.is-active-block {
    .block-featured--content .title.mod-highlight-center {
      &:after {
        width: 100%;
      }
    }
  }
  .link-simple {
    font-weight: 600;
  }

  .btn {
    margin: 0 0 1em;
    @media (min-width: 768px) {
      margin: 1em 0 0;
    }
  }

  a {
    text-decoration: none;
  }

  .with-icon {
    &:hover {
      img {
        margin-left: 5px;
      }
    }
    img {
      width: 24px;
      vertical-align: -7px;
      transition: margin 0.3s ease-in-out;
    }
  }
}

.service-item {
  .desktop {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      display: block;
    }
  }
  &.service-1 .desktop:after {
    background: url(../images/bg-abs1.png) no-repeat;
    left: -27px;
    bottom: -39px;
    z-index: 1;
    width: 165px;
    height: 130px;
  }
  &.service-2 .desktop:after {
    background: url(../images/bg-abs2.png) no-repeat;
    left: -107px;
    bottom: -73px;
    width: 183px;
    height: 227px;
  }
  &.service-3 .desktop:after {
    background: url(../images/bg-abs3.png) no-repeat;
    right: -185px;
    bottom: 0;
    width: 302px;
    height: 439px;
  }
  &.service-4 .desktop:after {
    background: url(../images/bg-abs4.png) no-repeat;
    left: -162px;
    bottom: 139px;
    width: 382px;
    height: 555px;
  }
  &.service-5 .desktop:after {
    background: url(../images/bg-abs5.png) no-repeat;
    right: -112px;
    top: -89px;
    width: 225px;
    height: 343px;
  }
}

.img-mw-100 img {
  max-width: 100% !important;
  width: auto !important;
}

.carousel-featured {
  .slick-slide {
    padding: 0 4px;
  }
  img {
    width: 100%;
    height: 660px;
    object-fit: cover;
    object-position: top center;
    // @media (min-width: 991px) {
    //   width: 244px;
    // }
  }
}
